#kallender{
    display: inline-block;
    margin: 20px;
    width: fit-content;
}
.inmatning_kalender{
    display: inline-block;
    width: fit-content;
    top:0%;
    height: 300px;
    
    
}
input{
    display: block;
    margin: 10px;
}

.checkb{
display: inline;
}

.knappar {
    margin: 20px;
}
h2{
    margin: 20px;
}
.klocka {
    display: inline;
}

b {
    margin-left: 20px;
}
input{
    margin-left: 20px;
}
button{
    margin-left: 20px;
    width: 80px;
}

.th_tid {
    width: 50px;
    text-align: left;
}
.th_namn{
    width: 200px;
    text-align: left;
}
.th_tel{
    width: 100px;
    text-align: left;
}
.th_id{
    width: 60px;
    text-align: left;
}
.th_webb{
    width: 40px;
    text-align: left;
}
.th_avboka{
    width: 60px;
    text-align: center;
}

